.footer {
  background: beige;
  color: slategray;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    height: 24px;
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      margin: 0 4px;
      color: slategray;
      text-decoration: underline;
      &:hover {
        color: #000;
      }
      svg {
        margin-left: 2px;
      }
    }
  }
}
