.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background: beige;
  color: slategray;
  h2 {
    font-size: 48px;
    margin-bottom: 16px;
  }
  p {
    margin: 0 24px;
    text-align: center;
  }
  p span {
    display: none;
  }
  .contact-links {
    margin-top: 16px;
    a {
      height: 24px;
      margin: 0 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (min-width: 768px) {
    p span {
      display: unset;
    }
  }
}
